h1{width:100%;
text-align: center;
font-size: 40px;}
h2{width:100%;
text-align: center;
font-size: 14px;}
.knop{width:116px;
border-radius: 1000px;
text-align: center;
font-size: 14px;
height: 25px;
line-height: 25px;}
